<a href="https://colab.research.google.com/github/nodirjon82/phyton_and_data_scince/blob/main/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [3]:
import keras
import pandas as ps
files = ps.read_excel('./data/$$$$.xlsx')
files.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Курс банк,Получено,Курс продажи,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,,Unnamed: 12,Unnamed: 13
0,2022-06-08,10000.0,10170.0,10890.0,5000.00,11270.0,NaN,NaN,NaN,NaN,NaN,NaN,Карты,NaN
1,2022-06-08,10000.0,NaN,NaN,1.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600141889192745,Uzcard Sagban
2,2022-06-08,10000.0,NaN,NaN,196.02,NaN,NaN,NaN,NaN,NaN,NaN,18821811.78,9860170101947795,Humo Sagban
3,2022-06-08,10000.0,NaN,NaN,11086.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600141868670232,Uzcard Operu
4,2022-06-08,10000.0,NaN,NaN,183.98,NaN,NaN,NaN,NaN,NaN,NaN,10000000.00,9860170101724160,Humo Operu

In [2]:
!ls

data  sample_data

In [1]:
import torch 
torch.cuda.is_available()

True